<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First web page </title>
</head>
<body>  <a href="/"> Home </a> <br><br>
    <a href="/about"> About us </a><br><br>
  <a href="/contact"> Contact us </a>
 <center>   <h1 style="color:tomato"> Welcome to Laundary Wallah /Laundary Mart website </h1> </center>
    <h2 style="color:blue"> Welcome to Laundary wallah/Laundary Mart ,your  one stop  solution  for all Laundary  needs. Our Dedicated  team ensures top notch  service  providing a hastle free  and effective laundary experiences .With a focus on
        quality and customer satisfaction.We take care of your garments  as if they were our own 
    </h2>
    <img src="laundry.jpg" alt="laundaryimage" width="700" height="300" style="vertical-align:middle">
    <h2> Our Services</h2>
    <ul style="color:blue">
        <li> Washing and Drying </li>
        <li> Ironing and Folding</li>
        <li> Dry Cleaning </li>
        <li>Stain Removal</li>
        <li> Special Garment Cart</li>
        <li> And Others</li>

        </ul>
    <h2 style="color:blue">
        Price List 
    </h2>
    <table border="3">
     <tr><th> Services</th><th>Price<th></tr>
     <tr><td> Washing and Drying</td><td>500Rs</td></tr>
     <tr><td>Cleaning and Folding </td><td> 1000Rs</td></tr>

    </table>
    <h1>  Book Now </h1>
    <form style="color:blue">
        <input type="text" lable="Name" value="Name">
        <input type="text"lable="Email" value="Email">
        <input type="text"lable="Phone" Value="Phone">
        <input type="submit" value="submit">

    </form>
    <h2 style="color:blue">  Contact Us. :  <a href=""> info@laundarymart.com</a> </h2>
</body>
</html>